@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #FEFEFE;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  &.s0{
    background: #d0d0d0;
  }

  &.s1{
    background: cornflowerblue;
  }

  &.s2{
    background: darkgreen;
  }

  &.s3{
    background: darkgreen;
  }

  &.s4{
    background: darkred;
  }

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.theme-dark {
  //breadcrumb
  .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
    color: #fff
  }

  // loading
  .el-loading-mask {
    background-color: #262626;
  }

  // tag
  .el-tag {
    background-color: #262626;
    border-color: #101010;
  }

  .el-tag.is-hit {
    border-color: #f90
  }

  .el-tag.el-tag--info {
    background-color: #262626;
    border-color: #101010;
    color: #909399
  }

  .el-tag.el-tag--success {
    background-color: #262626;
    border-color: #101010;
  }

  .el-tag.el-tag--success.is-hit {
    border-color: #f90
  }

  .el-tag.el-tag--warning {
    background-color: #262626;
    border-color: #101010;
    color: #e6a23c
  }

  .el-tag.el-tag--warning.is-hit {
    border-color: #f90
  }

  .el-tag.el-tag--danger {
    background-color: #262626;
    border-color: #101010;
    color: #f56c6c
  }

  .el-tag.el-tag--danger.is-hit {
    border-color: #f90
  }

  // dialog
  .el-dialog__header {
    background-color: #ff9900;
  }
  .el-dialog__title {
    color: #ffffff;
  }
  .el-dialog__headerbtn .el-dialog__close {
    color: #ffffff
  }
  .el-dialog__body {
    background-color: #262626;
  }

  .el-dialog__footer {
    background-color: #262626;
  }

  // input
  .el-textarea__inner {
    color: #fff;
    background-color: #363636;
    border: 1px solid #222;
  }

  .el-textarea__inner:hover {
    border-color: rgba(255, 153, 0, 0.51)
  }

  .el-textarea__inner:focus {
    outline: 0;
    border-color: #f90
  }

  .el-input__inner {
    background-color: #363636;
    border: 1px solid #222;
    color: #fff;
  }

  .el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #f90;
  }

  // card
  .el-card {
    border: 1px solid #222;
    background-color: #101010;
    color: #a2a2a2;
  }

  .el-card__header {
    border-bottom: 1px solid #262626;
    background-color: #1c1c1c;
  }

  // table
  .el-table__body tr.current-row > td {
    background-color: #262626; // 选中颜色
  }

  .el-table th {
    background: #1c1c1c; // 表头背景色
  }

  .el-table tr {
    background: #101010; // 表项背景色
  }

  .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #262626; //斑马线背景色
  }

  .el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #262626; //行内线
  }

  .el-table::before {
    border-bottom: 2px solid #262626; //底部线
  }

  .el-table--border th {
    border-color: #262626; // 表头列分隔
  }

  .el-table--border {
    border: none;
  }

  .el-table thead {
    color: #fff; // 表头颜色
    font-weight: 500;
  }

  .el-table {
    color: #a2a2a2; // 文字颜色
  }

  .el-table--border::after, .el-table--group::after {
    background-color: #262626; // 表格最右边边线
  }

  .el-table--border td {
    border-right: 1px solid #262626; // 列之间分隔的颜色
  }

  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #262626; // hover色
  }

  .el-table__empty-block{
    background: #101010;
  }
  .el-table__empty-text{
    color: #a2a2a2
  }

  // button
  .el-button--primary {
    color: #000;
    background-color: #f90;
    border-color: #f90
  }

  .el-button--primary:focus, .el-button--primary:hover {
    background: #ffc900;
    border-color: #ffc900;
    color: #000
  }

  .el-button--primary.is-active, .el-button--primary:active {
    background: #c56b00;
    border-color: #c56b00;
    color: #000
  }

  // check box
  .el-checkbox {
    color: #a2a2a2;
  }

  .el-checkbox.is-bordered.is-checked {
    border-color: #f90
  }

  .el-checkbox__inner {
    background-color: #363636;
    border-color: #222;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #f90;
    border-color: #f90
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #f90
  }

  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #f90
  }

  .el-checkbox__inner:hover {
    border-color: #f90
  }

  .el-checkbox-button__inner:hover {
    color: #f90
  }

  // pagination
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    background-color: #363636;
    color: #fff;
  }

  .el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #a2a2a2;
    background-color: #262626
  }

  .el-pagination.is-background .el-pager li:not(.disabled).active {
    color: #000;
    background-color: #f90
  }

  .el-pager li {
    background: #FFF;
  }

  .el-pager li.btn-quicknext, .el-pager li.btn-quickprev {
    color: #303133
  }

  .el-pager li.btn-quicknext.disabled, .el-pager li.btn-quickprev.disabled {
    color: #C0C4CC
  }

  .el-pager li:hover {
    color: #409EFF
  }

  .el-pager li.active {
    color: #409EFF;
  }

  // select
  .el-select-dropdown__item {
    background-color: #1b1b1b !important;
    color: #ff0000 !important;
  }

  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #F5F7FA
  }

  .el-select-dropdown__item.selected {
    color: #f90;
  }

  .el-select .el-input__inner:focus {
    border-color: #f90
  }

  .el-select .el-input.is-focus .el-input__inner {
    border-color: #f90
  }

  //tabs
  .el-tabs__item{
    color: #fff;
  }
  //todo alert
}
